.table{
    display: table;
    border-top: 1px solid #5cbd5c;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
}

.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
    padding: 15px;
    color: #5cbd5c;
    font-weight: 600;
}

.junary{
    text-align: center;
    width: 322px;
    color: #5cbd5c;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
}

.junary .horizontal-line{
    height: 1px;
    background-color: #5cbd5c;
    width: 322px;
}

.junary h1{
   font-weight: 500;
}